/* INDEX.HTML */
body {
    background-color: rgb(242, 242, 242);
    font-family:'Trebuchet MS';
    color: rgb(0, 0, 0);
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 30px 80px;
}

.header .nama a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    transition: .2s ease-in;
    border-radius: 10px;
}

.header .menu-navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 15px;
}

.header .menu-navbar ul li {
    list-style: none;
    font-size: 18px;
}

.header .menu-navbar ul li a {
    text-decoration: none;
    color: black;
    font-family: 'Trebuchet MS';
    font-weight: bold;
}

.profil {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}    

.profil img {
    border-radius: 20%;
    height: 250px;
    width: 250px;
}

.short-text {
    margin-top: 10px;
    padding-left: 3px;
    margin-left: 500px;
    margin-right: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.short-text h3 {
    font-size: 15px;
    text-align: center;
    line-height: 23px;
    font-weight: 50;
}

.logo {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.logo img {
    height: 20px;
}
/* END OF INDEX.HTML */


